<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!--    <include resource="com/google/cloud/spring/logging/logback-json-appender.xml"/>-->

    <!--    <springProfile name="json">-->
    <!--        <root level="INFO">-->
    <!--            <appender-ref ref="CONSOLE_JSON"/>-->
    <!--        </root>-->
    <!--    </springProfile>-->

    <!--    <springProfile name="!json">-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <!--    </springProfile>-->
</configuration>