on:
  workflow_call:
    secrets:
      token:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: native-image-metadata
          path: src/main/resources/META-INF/native-image

      - uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm-community'
          java-version: '21'
          native-image-musl: true

      - uses: gradle/gradle-build-action@v3

      - run: ./gradlew --no-daemon nativeCompile

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: echo "BRANCH_NAME=${GITHUB_REF_NAME//\//_}" >> $GITHUB_ENV

      - uses: docker/build-push-action@v5
        with:
          context: .
          pull: true
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.sha }}
            ghcr.io/${{ github.repository }}:${{ env.BRANCH_NAME }}