# Managed by management-terraform

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NATIVE_IMAGE_OPTIONS: "--static --libc=musl --gc=G1 -R:MaxRAMPercentage=90"
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v6
        with:
          name: native-image-metadata
          path: src/main/resources/META-INF/native-image

      - uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm'
          java-version: '24'
          native-image-musl: true
          cache: 'gradle'

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew --no-daemon nativeCompile

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: echo "BRANCH_NAME=${GITHUB_REF_NAME//\//_}" >> $GITHUB_ENV

      - uses: docker/build-push-action@v6
        with:
          context: .
          pull: true
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.sha }}
            ghcr.io/${{ github.repository }}:${{ env.BRANCH_NAME }}
          build-args: |
            APPLICATION_VERSION=${{ github.sha }}
