# Managed by management-terraform

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      next-tag:
        required: true
        type: string

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.${{ inputs.image }}
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ github.sha }}-${{ inputs.image }}
          build-args: |
            BASE_IMAGE_TAG=${{ github.sha }}
            APPLICATION_VERSION=${{ inputs.next-tag }}-${{ inputs.image }}
          provenance: mode=max
          sbom: true
