# Managed by management-terraform

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      next-tag:
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    environment: ${{ inputs.image }}
    steps:
      - uses: actions/checkout@v6

      - run: git fetch --tags

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: release
        run: |
          docker pull ghcr.io/${{ github.repository }}:${{ github.sha }}-${{ inputs.image }}

          MAJOR_VERSION=$(echo "${{ inputs.next-tag }}" | awk -F. '{print $1}')
          MINOR_VERSION=$(echo "${{ inputs.next-tag }}" | awk -F. '{print $2}')

          echo TAG=${{ inputs.next-tag }} MAJOR_VERSION=${MAJOR_VERSION} MINOR_VERSION=${MINOR_VERSION}

          docker tag ghcr.io/${{ github.repository }}:${{ github.sha }}-${{ inputs.image }} ghcr.io/${{ github.repository }}:${{ inputs.next-tag }}-${{ inputs.image }}
          docker tag ghcr.io/${{ github.repository }}:${{ github.sha }}-${{ inputs.image }} ghcr.io/${{ github.repository }}:${MAJOR_VERSION}-${{ inputs.image }}

          docker push ghcr.io/${{ github.repository }}:${{ inputs.next-tag }}-${{ inputs.image }}
          docker push ghcr.io/${{ github.repository }}:${MAJOR_VERSION}-${{ inputs.image }}

          HIGHER_MAJOR_EXISTS=$(git tag --list 'v*' --sort=-v:refname | awk -F. '{print $1}' | sed 's/v//' | uniq | awk -v curr="$MAJOR_VERSION" '$1>curr {print "yes"; exit}')

          if [ "$HIGHER_MAJOR_EXISTS" != "yes" ]; then
            docker tag ghcr.io/${{ github.repository }}:${{ inputs.next-tag }}-${{ inputs.image }} ghcr.io/${{ github.repository }}:${{ inputs.image }}
            docker push ghcr.io/${{ github.repository }}:${{ inputs.image }}
          fi
