# Managed by management-terraform

on:
  workflow_call:
    inputs:
      agent_enabled:
        description: "Enable agent"
        required: false
        default: false
        type: boolean

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: gradle/actions/wrapper-validation@v5

      - uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm'
          java-version: '24'
          native-image-musl: true
          cache: 'gradle'

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew ${{ inputs.agent_enabled && '-Pagent' || '' }} test --no-daemon --info --fail-fast

      - uses: actions/upload-artifact@v6
        with:
          name: native-image-metadata
          path: build/native/agent-output/test
